<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Books</title>
    <meta name="description" content="form for users">
    <link href="style.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<header>
    
    {{#if authorised}}
		<p><a href="/bookShop">Book Shop page</a></p>
    
		{{/if}}
    <h2>{{ item.book.bookName }}</h2>
</header>
{{#if msg}}
    <p class="msg">{{msg}}</p>
{{/if}}
<main>
    <p>
        {{ item.book.description }}
    </p>

    <p>
        £ {{ item.book.price }}
    </p>

    <p>
        EAN: {{ item.book.EAN }}
    </p>

    <p>
        <img  class= "book-image" src="/bookimages/{{item.book.images}}" />  
    </p>
    
    <h3>
        Purchase a book:
    </h3>
    
     <p>
        Cost of the book:
        {{ item.outstandingAmount }}
    </p>
    
    <p>
        Payment:
        {{ item.paidSoFar }}
    </p>

    <ul>
        {{#each item.puchases}}
            <li>
                {{this.customerID}} - {{this.amount}}
            </li>
        {{/each}}
    </ul>

    <form action="/book/purchases" enctype="multipart/form-data" method="post">
        <input type="hidden" name="book_id" placeholder="name of the book" value="{{item.book.id}}">
        <p>
            <label for="target"> </label><br/>
            <input type="number" name="amount" placeholder="Enter the extact amount?" value="{{body.amount}}">
        </p>

        <p><input type="submit" value="Add the amount to go to basket"></p>

    </form>
</main>
</body>
</html>